<mat-card class="cd">
    <mat-card-header>
        <mat-card-title>SUDOKU</mat-card-title>
    </mat-card-header>
    <mat-card-content style="min-height: 387px;">
        <mat-tab-group mat-align-tabs="center" backgroundColor="primary">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>login</mat-icon> Log in
                </ng-template>
                <app-signin-form></app-signin-form>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>how_to_reg</mat-icon> Sign up
                </ng-template>
                <app-signup-form></app-signup-form>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
    <mat-card-footer class="text-center">
        <span class="text-center"> ------------------------ or connect with ------------------------</span>
        <app-social-login></app-social-login>
    </mat-card-footer>
</mat-card>



<!-- 

<mat-tab-group class="formsContainer" mat-align-tabs="center" backgroundColor="primary">
    
    <mat-tab label="Log in">
        <div>
            <form class="fm text-center"  [formGroup]="signInForm">
                <div class="form-control">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput type="email" placeholder="sam@example.com" formControlName="email">
                        <mat-error *ngIf="signInForm.controls.email.touched && signInForm.controls.email.invalid">
                            {{getErrorMessage('email')}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group text-center">
                    <button mat-raised-button class="btn btn-success"><mat-icon>login</mat-icon> Log in</button>
                </div>
            </form>
        </div>
    </mat-tab>

    <mat-tab label="Sign up">

    </mat-tab>

</mat-tab-group>
 -->



